html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}




body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 190, 174, 0.922);
}


div.header {
    box-sizing: content-box;
    height: 20vh;
    border: 10px outset rgb(0, 140, 255);
    background-color: rgba(14, 38, 35, 0.922);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#left3 {
    float: left;
    width: 30vw;
}

#center3 {
    margin: auto;
    text-align: center;
    width: 30vw;
}

#right3 {
    float: right;
    width: 30vw;
    text-align: center
}

div.studentDiv {
    margin: auto;
    border: 5px outset rgb(0, 140, 255);
    background-color: rgba(53, 190, 174, 0.922);
    text-align: center;
    width: 85%;
}

div.projectDiv {
    margin: auto;
    border: 5px outset rgb(0, 140, 255);
    background-color: rgba(53, 190, 174, 0.922);
    text-align: center;
    width: 85%;
}

ul {
    text-align: center;
    list-style-position: inside
}

h1 {
    color: #66bfbf;
}

h2 {
    color: #fdfdfd8d;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.subheading {
    text-align: center
}


h3 {
    color: #66bfbf;
}

hr {
    background-color: #66bfbf;
    border-color: rgb(0, 140, 255);
    border-style: dotted none none;
    border-width: 5px;
    height: 5px;
    opacity: .3;
    width: 40%;
}

#glow {
    margin-left: 1vw;
    font-size: 14vh;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}